<!DOCTYPE html>
<html>
    <head>
        <!-- if you put . before css is referring to the relative path => without is absolute path -->
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="/img/test.png">
        </div>
        {{>footer}}
    </body>
</html>