{{!-- now i can call only >header  inside other pages and it will provide the title --}}
<header>
    <h1>{{title}}</h1>

    {{!-- navigation bar! --}}
    <div>
        <a href="/">Weather</a>
        <a href="about">About</a>
        <a href="help">Help</a>
    </div>
</header>

